@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Masterlayout.cshtml";
}

<h2>Home</h2>
<style>
    .img {
        max-width: 23%;
    }
</style>
<div class="theme-layout" style="transform: none;">
    <section>
        <div class="block no-padding">
            <div class="row mrgd">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="continent">
                            <a href="Newspaper/Contries?continentid=4" itemprop="url" title="" target="_blank">
                                <img src="http://www.7continentslist.com//images/resources/continent-1.jpg" class="img" itemprop="image" alt="">
                            </a>
                            <!--<div class="continent-info">
                                <a href="~/Counties?CountryID=4" itemprop="url" title="" target="_blank">Asia</a>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="row mrgd">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="continent">
                                        <a href="Newspaper/Counties.aspx?CountryID=5" itemprop="url" title="" target="_blank">
                                            <img src="http://www.7continentslist.com/images/resources/continent-2.jpg" class="img" itemprop="image" alt="">
                                        </a>
                                        <!--<div class="continent-info">
                                            <a href="Newspaper/Counties?CountryID=5" itemprop="url" title="" target="_blank">Africa</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="continent">
                                        <a href="Newspaper/Counties.aspx?CountryID=1" itemprop="url" title="" target="_blank">
                                            <img src="http://www.7continentslist.com/images/resources/continent-3.jpg" class="img" itemprop="image" alt="">
                                        </a>
                                        <!--<div class="continent-info">
                                            <a href="Newspaper/Counties.aspx?CountryID=1" itemprop="url" title="" target="_blank">North america</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="continent">
                                        <a href="Newspaper/Counties.aspx?CountryID=2" itemprop="url" title="" target="_blank">
                                            <img src="http://www.7continentslist.com/images/resources/continent-4.jpg" class="img" itemprop="image" alt="">
                                        </a>
                                        <!--<div class="continent-info">
                                            <a href="Newspaper/Counties.aspx?CountryID=2" itemprop="url" title="" target="_blank">South america</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="continent">
                                        <a href="Newspaper/Counties.aspx?CountryID=7" itemprop="url" title="" target="_blank">
                                            <img src="http://www.7continentslist.com/images/resources/continent-5.jpg" class="img" itemprop="image" alt="">
                                        </a>
                                        <!--<div class="continent-info">
                                            <a href="Newspaper/Counties.aspx?CountryID=7" itemprop="url" title="" target="_blank">Antarctica</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="continent">
                                        <a href="Newspaper/Counties.aspx?CountryID=3" itemprop="url" title="" target="_blank">
                                            <img src="http://www.7continentslist.com/images/resources/continent-6.jpg" class="img" itemprop="image" alt="">
                                        </a>
                                        <!--<div class="continent-info">
                                            <a href="Newspaper/Counties.aspx?CountryID=3" itemprop="url" title="" target="_blank">Europe</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="continent">
                                        <a href="Newspaper/Counties.aspx?CountryID=6" itemprop="url" title="" target="_blank">
                                            <img src="http://www.7continentslist.com/images/resources/continent-7.jpg" class="img" itemprop="image" alt="">
                                        </a>
                                        <!-- <div class="continent-info">
                                            <a href="Newspaper/Counties.aspx?CountryID=6" itemprop="url" title="" target="_blank">Australia</a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

